__pycache__/
*.py[cod]
*$py.class

*.so

dist/
build/
*.egg-info/
*.egg

*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

.idea/
.vscode/
*.swp
*.swo
*~
.spyderproject
.spyproject
.ropeproject

.ipynb_checkpoints

instance/
.webassets-cache
local_settings.py

*.log
logs/

*.db
*.sqlite3

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

output/
temp/
*.nbs
*.schem
*.mcfunction
last_config.json